* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: azure;
}

.principal {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 900px;
  margin: 16px auto;
  background-color: blueviolet;
}

.painel-lista {
  background-color: aqua;
  height: 100%;
  width: 100%;
}

.painel-form {
  background-color: bisque;
  height: 100%;
  width: 40%;
}

.item-tarefa {
  display: flex;
  flex-direction: column;
  background-color: rgba(115, 167, 143, 0.781);
  margin: 32px;
  padding: 0px 8px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
}
.item-projeto {
  display: flex;
  flex-direction: column;
  background-color: rgba(115, 167, 143, 0.781);
  margin: 32px;
  padding: 0px 8px;
  border-radius: 0px;
  border: 1px solid rgb(255, 255, 255);
}

.form-tarefa-div {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  background-color: aquamarine;
}

.form-projeto-div {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  background-color: rgb(192, 175, 99);
}

.form-div {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  background-color: aquamarine;
}

.hidden {
  display: none;
}
